# R package requirements for Figures_FitnessValue.R
# Install CRAN packages with install.packages("package_name").
# Install Bioconductor packages with BiocManager::install("package_name").

tidyverse
ggplot2
dplyr
tidyr
tibble
stringr
scales
ggpointdensity
diptest
Rtsne
mclust
corrplot
glmnet
pheatmap
lme4
lmerTest
vegan
ape
phangorn
randomcoloR

# Bioconductor packages
clusterProfiler
KEGGREST
ggtree
treeio
